<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\iMusica.BackOffice.ClearingHost\packages.config" />
  <repository path="..\iMusica.BackOffice.ClosingImportHost\packages.config" />
  <repository path="..\iMusica.BackOffice.CommunicationHost\packages.config" />
  <repository path="..\iMusica.BackOffice.EncodeHost\packages.config" />
  <repository path="..\iMusica.BackOffice.FakeIngest\packages.config" />
  <repository path="..\iMusica.BackOffice.IndexingHost\packages.config" />
  <repository path="..\iMusica.BackOffice.IngestionPipelineHost.IndiesFullTrack\packages.config" />
  <repository path="..\iMusica.BackOffice.IngestionPipelineHost.SonyFullTrack\packages.config" />
  <repository path="..\iMusica.BackOffice.IngestionPipelineHost.TestingFullTrack\packages.config" />
  <repository path="..\iMusica.BackOffice.IngestionPipelineHost.UniversalFullTrack\packages.config" />
  <repository path="..\iMusica.BackOffice.IngestionPipelineHost.WarnerFullTrack\packages.config" />
  <repository path="..\iMusica.BackOffice.LogPublisher\packages.config" />
  <repository path="..\iMusica.BackOffice.MaterializationHost\packages.config" />
  <repository path="..\iMusica.BackOffice.ScheduleHost\packages.config" />
  <repository path="..\iMusica.BackOffice.ValidatorPackage\packages.config" />
  <repository path="..\iMusica.BackOffice.WebManagementHost\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.Cache\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.Clearing\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.Closing\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.DDEX\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.IdeasMusik\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.iMusicaAgg\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.iMusicaImportacao\packages.config" />
  <repository path="..\iMusica.Enterprise.Data.iMusicaMeta\packages.config" />
  <repository path="..\iMusica.Enterprise.Infrastructure\packages.config" />
  <repository path="..\iMusica.Enterprise.IntegratedTests\packages.config" />
  <repository path="..\iMusica.Enterprise.Media\packages.config" />
  <repository path="..\iMusica.Enterprise.Tests\packages.config" />
  <repository path="..\iMusica.Enterprise.VFS\packages.config" />
  <repository path="..\iMusica.Enterprise\packages.config" />
</repositories>