<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net" xmlns:wcf="http://www.springframework.net/wcf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.net/aop">
            <!-- ################################################################################################ -->
            <!-- import (importa o XML que referencia toda a aplicação) -->
            <!-- ################################################################################################ -->
            <!--<import resource="file://~/bin/[IoC.Infrastructure].xml"/>-->


            <!-- ################################################################################################ -->
            <!-- MainService (Todos os ítens do MainService são inicializados quando a aplicação inicializa) -->
            <!-- ################################################################################################ -->
            <!--<object id="MainService" type="DemoNH.Core.Infrastructure.Services.ServiceContainer, DemoNH.Core.Infrastructure">
                <property name="Services">
                    <list element-type="DemoNH.Core.Infrastructure.Services.IService, DemoNH.Core.Infrastructure">
                        <ref object="AlunoServiceHostAdapter"/>
                    </list>
                </property>
            </object>-->
            <!-- ################################################################################################ -->
        </objects>

    </spring>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDirectory" value="${basedir}../Log/"/>
        <targets async="true">
            <target name="default" xsi:type="File" fileName="${logDirectory}/Log_${shortdate}.txt"/>
        </targets>
        <rules>
            <!--<logger name="*" minlevel="Warn"   writeTo="default"  />-->
            <logger name="*" minlevel="Info" writeTo="default"/>
        </rules>
    </nlog>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
                <arg key="configType" value="INLINE"/>
            </factoryAdapter>
        </logging>
    </common>

    <connectionStrings/>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <!--<runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
            </dependentAssembly>


            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.45000" newVersion="2.0.0.45000"/>
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.45000" newVersion="2.0.0.45000"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.45000" newVersion="2.0.0.45000"/>
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.2.3.400" newVersion="2.2.3.400"/>
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.1001" newVersion="4.0.0.1001"/>
            </dependentAssembly>


            <dependentAssembly>
                <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>-->

</configuration>
